@media (max-width:1170px) {
    .proposition article {
        min-height: 260px;
    }
    .populars {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0px 27px;
    }
    .populars div {
        margin-bottom: 80px;
    }
    .our-features {
        margin: 0px 27px 27px 27px;
    }
  }

@media (max-width:900px) {
    body.lock {
        overflow: hidden;
    }
    body.lock {
      overflow: hidden;
    }
    .header-container {
        position: fixed;
        background-color: #849d8f;
        left: 0;
        top: 0;
        width: 100%;
        max-height: 75px;
        z-index: 2;
    }
    .main-navigation {
        display: flex;
        justify-content: space-between;
       
    }
    .phone {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 340px;
        top: 35%;
        right: 6%;
    }
    .phone p {
        margin-bottom: 0px;
        margin-top: 0px;
        margin-right: 10px;
        font-size: 14px;
        line-height: 16px;
    }
    .phone a {
        font-size: 22px;
        line-height: 24px;
    }
    
    .radio-btn {
        display: flex;
        position: relative;
        margin: 20px 0px 0px 0px;
        padding: 0px;
    }
    .options{
        display: none; 
    }
    .header-burger {
        display: block;
        position: relative;
        cursor: pointer;
        width: 30px;
        height: 30px;
    }
    .header-burger ::after,
    .header-burger ::before {
        content: "";
        background-color: #f8f7f4;
        position: absolute;
        width: 100%;
        height: 2px;
    }
    .header-burger ::before{
        top: 10px;
    }
    .header-burger ::after {
        bottom: 10px;
    }
    .header-burger span {
        position: absolute;
        background-color: #f8f7f4;
        left: 0px;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header-burger.burger-cross span {
        transform: scale(0);
    }

    .header-burger.burger-cross::after,
    .header-burger.burger-cross::before {
        content: "";
        background-color: #f8f7f4;
        position: absolute;
        width: 100%;
        height: 4px;
        transition: all 3s ease 0s;
    }
    .burger-cross::after {
        top: 9px;
        transform: rotate(45deg);
    }
    .burger-cross::before{
        top: 9px;
        transform: rotate(-45deg);
    }
    
    .options.burger-active {
        position: absolute;
        display: block;
        text-align: center;
        background-color: #f8f7f4;
        overflow: auto;
        right: 27px;
        top: 100%;
        width: 290px;
        min-height: auto;
    }
    
    .options.burger-active .right-option,
    .options.burger-active .left-option {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        min-height: auto;
        margin: 0px;
        padding: 0px;
    }
    .options.burger-active .left-option li {
        width: 100%;
        border: 1px solid black;
        padding: 15px 95px;
    }
    .options.burger-active a{
        display: inline-block;
       
        color: #323232;
        margin:0px;
        padding: 0px;
        text-decoration: none;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f8f7f4;
        text-align: center;
        
        font-weight: 400;
        color: #323232;
        font-size: 14px;
        line-height: 16px;
    
        min-width: 190px;
        border-radius: none;
        box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.2);
        z-index: 2;
    
        top: 0px;
        left: 0px;
    }

 /* M A I N */
    main {
     
    }
    .main-container {
        width:100%;
        right: 0px;
        left: 0px;
    }
    .main-container section {
        margin-left: 0px;
        right: 0;
        left: 0;
        width: 100%;
    }
    .main-proposition img {
        display: block;
    }
    .main-proposition h1 {
        display: inline-block;
        margin-top: auto;
        font-size: 40px;
        line-height: 40px;
    }
    .proposition {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 27px 13px 27px;
    }
    .proposition article {
        display: block;
        margin: 13px 27px;
        min-width: 93%;
    }
    .proposition a {
        margin-top: 70px;
        left:0;
    }
    .our-features div {
        margin: 0px 27px 27px 27px;
    }
    .our-features h3 {
        text-align: center;
    }
    .another {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 13px 27px 40px 27px;
    }
    .another .news,
    .another .subscribe {
        min-width: 93%;
    }
    .another .subscribe {
        margin-top: 30px;
    }
    .subscribe-container form {
        display: flex;
        justify-content: space-between;
    }
    .subscribe .subscribe-container input {
        width: 600px;
    }
}
@media (max-width:720px) {
    footer .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer .container ul {
        margin-top: 10px;
    }
    footer .developer {
        display: flex;
        align-items: center;
        margin: 10px;
    }
    footer .developer p {
        margin-left: 10px;
    }
}
@media (max-width:600px) {
    .phone {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 340px;
        top: 35%;
        right: 6%;
    }
    .phone p {
        display: none;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-right: 10px;
        font-size: 14px;
        line-height: 16px;
    }
    .phone a {
        display: none;
        font-size: 22px;
        line-height: 24px;
    }
    .main-proposition {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    
        height: auto;
        margin: 0px 27px;
    }
    .main-proposition h1 {
        display: inline-block;
        text-align: center;
        margin-top: 60px;
        margin-left: 27px;
        margin-right: 27px;
        font-size: 36px;
        line-height: 36px;
    }
    .proposition a {
        margin: 20px auto;
       
    }
}