*,
*:after,
*:before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 100%;
    color: #ffffff;
    background-color: #849d8f;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    
    background-image: linear-gradient(#ef6441, #e74a35); 
    width: 189px;
    min-height: 44px;

    border: 0px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 1px 3px 0px #ac1000;
}
.main-proposition .button:hover {
    color: #000000;
    background-image: linear-gradient(#ededed, #ededed); 
    box-shadow: none;
}
.button:hover {
    color: #000000;
    background-image: linear-gradient(#ededed, #ededed); 
    box-shadow: none;
}

/* H E A D E R */

header {
    min-height: 100%;
    font: inherit;
    width: auto;
}

.header-container {
    margin: 0px auto;
    max-width: 1200px;
    padding-top: 10px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 27px 0px 27px;
}

.main-navigation ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.options {
    display: flex;
   
    justify-content: space-between;
    width: 100%;
}
.header-burger {
    display: none;
}
.left-option li {
    font-size: 16px;
    line-height: 18px;
}
.right-option li {
    margin: 0px 0px  0px  15px;
}
.main-navigation .right-option {
    margin-left: auto;
}
.main-navigation .left-option {
    margin-right: auto;
    padding-left: 14px;
}


/* SEARCH */
.search {
    cursor: pointer;
}
.right-option .search {
    position: relative;
}
.search-content {
    display: none;
    position: absolute;
    background-color:#f8f7f4 ;
    width: 341px;
    height: 84px;

    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;

    margin-top: 0px;
    margin-left: -308px;
}

.right-option [type="search"] {
    background-color: #ffffff;
    text-align: center;

    outline: none;
    font-weight: 400;
    color: #999999;
    font-size: 14px;
    line-height: 26px;

    min-width: 311px;
    min-height: 44px;
    border-radius: 5px 5px 5px 5px;
    margin: 20px 15px;
    border: 1px solid;
    border-color: #999999;
}

.search:hover .search-content {
    display: block;
}
.right-option .search-button {
    background-color: #a1b5aa;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    opacity: 1;
    margin-top: 4px;
}
.search:hover .search-button {
    background-color: #f8f7f4;
}
.search:hover .search-button::after {
    background-image: url(/img/svg/loupe.svg);
}
.right-option .search-button::after {
    position: absolute;
    content: "";
   
    background-image: url(/img/svg/loupe.svg);
    opacity: 1;
    width: 17px;
    height: 17px;
    margin-top: 8px;
    margin-left: 8px;
}

/* ENTER */

.enter  {
    position: relative;
    background-color: #a1b5aa;
    padding: 7px 14px 7px 35px;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
}
.enter-button{
    min-width: 14px;
    min-height: 16px;
}
.right-option .enter-button::after {
    position: absolute;
    content: "";
    background-image: url(/img/svg/entrance.svg);
    width: 20px;
    height: 19px;
    margin-left: -62px;
}
.enter:hover .enter-content {
    display: block;
}
.enter:hover  {
    background-color:#f8f7f4;
}
.enter:hover a {
    color: #000000;
}


/* CART */
.cart {
    cursor: pointer;
}
.right-option .cart {
    position: relative;
    background-color: #a1b5aa;
    padding: 7px 25px 7px 50px;
    border-radius: 25px 25px 25px 25px;
}

.cart-button{
    min-width: 14px;
    min-height: 16px;
}
.right-option .cart-button::after {
    position: absolute;
    content: "";
    background-image: url(/img/svg/basket.svg);
    width: 20px;
    height: 19px;
    margin-left: -73px;
}
.cart:hover .cart-content {
    display: block;
}
.cart:hover  {
    background-color:#f8f7f4;
}
.cart:hover a {
    color: #000000;
}

.phone {
   
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0px 27px 0px 27px;
}
.phone p {
    margin-bottom: 7px;
    margin-top: 0px;
    font-size: 14px;
    line-height: 16px;
}
.phone a {
    font-size: 22px;
    line-height: 24px;
}


/* M A I N */
/* main-proposition */

.main-container {
    margin: 0px auto;
    max-width: 1200px;
    
}

.main-proposition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    min-height: 534px;
    margin: 0px 27px;
}

.main-proposition img {
    display: block;
    position: absolute;
    z-index: -1;
    margin: 100px 0px 0px 0px;
    height: auto;
    max-width: 100%;
}
.main-proposition h1 {
    display: inline-block;
    margin-top: 230px;
    font-size: 60px;
    line-height: 60px;
}
.radio-btn {
    display: flex;
    position: absolute;
    margin-right: 94%;
    margin-bottom: -395px;
    padding: 0px;
}
.main-proposition ul li {
    margin: 0px;
    padding-left: 8px;
}
.main-proposition input {
    height:21px; 
    width:21px;
}

.main-proposition .button {
    display: flex;
    justify-content: center;
    align-items:center;
    
    font: inherit;
    color: #ffffff;
    font-size: 32px;
    line-height: 44px;

    width: 280px;
    min-height: 67px;
    margin-top: 30px;
}
/* proposition */

.proposition {
    display: flex;
    justify-content: space-between;
    margin: 0px 27px 40px 27px;
    height: auto;
}

.proposition .left {
    background-image: url(../img/image_1.jpg);
    border-radius: 15px 15px 15px 15px;
    width: 49%;
    max-height: 230px;
}
.proposition .right {
    background-image: url(../img/image_2.jpg);
    border-radius: 15px 15px 15px 15px;
    width: 49%;
    max-height: 230px;
}
.proposition h2 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 35px;
    line-height: 41px;
}
.proposition p {
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 18px;
    line-height: 22px;
}
.proposition a {
    margin-bottom: 30px;
    margin-top: 50px;
 margin-left: auto;
 margin-right: 10px;
}
   


/* H E A D E R pop-ups*/


.header-burger {
    display: none;
}


/* drop-down menu */

.left-option .dropdown {
    position: relative;
    display: inline-block;
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f7f4;
    text-align: center;
    
    font-weight: 400;
    color: #323232;
    font-size: 14px;
    line-height: 16px;

    min-width: 143px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.5);;
    z-index: 1;

    margin-top: 5px;
    margin-left: -6px;
}
.dropdown-content p {
    margin: 11px;
    font-weight: 700;
    color: black;
}
.dropdown-content p::after {
    position: absolute;
    content: "";
    background-color: #d1d0ce;
    opacity: 0.5;
    width: 128px;
    height: 1px;

    margin-top: 24px;
    margin-left: -92px;
}
.dropdown-content a {
    font-weight: 400;
    color: #323232;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
  }
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #fbded7;}
.dropdown-content a:active {background-color: #f6b5a5;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover  .dropbtn {
    display: inline-block;
    color: #000000;
    background-color: #f8f7f4;
    padding:  8px 15px 8px 15px;
  
    border-radius: 25px 25px 25px 25px;
}
.dropbtn {
    display: inline-block;
    color: #ffffff;
    background-color: transparent;
    padding:  8px 15px 8px 15px;
 
    text-decoration: underline #9fb3a8;
} 
/*.dropbtn::after {
    position: absolute;
    content: "";
    background-color: #9fb3a8;
    margin-top: 20px;
    margin-left: -80px;
    width: 100%;
    height: 1px;

     border-bottom: 1px solid  #9fb3a8;
}

/* cart */

.cart-content {
    display: none;
    position: absolute;
    background-color:#f8f7f4 ;
    color: #323232;
    width: 540px;
    height: auto;

    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.5);;
    z-index: 1;

    margin-top: 13px;
    margin-left: -470px;
}
.cart-content span,
.cart-content p {
    color: #323232;
}
.cart-content .choosen {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    font-weight: 400;
    color:#000000;
    font-size: 13px;
    line-height: 16px;
    margin: 3% 0px;
}
.choosen-list {
   
}
.choosen-list span::before {
    position: absolute;
    content: "";
    background-color: #d1d0ce;
    opacity: 0.5;
    width: 510px;
    height: 1px;

    margin-top: -10%; 
    margin-left: -408px;  
}

.close {
    width: 22px;
    height: 22px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.close::before,
  .close::after {
    content: "";
  
    position: absolute;
    top: 45%;
    left: 6%;
  
    width: 20px;
    height: 2px;
   
    background-color: #000000;
  }
  .close::before {
    transform: rotate(45deg);
  }
  .close::after {
    transform: rotate(-45deg);
  }

.zalupa .button {
    cursor: pointer;
  }
.cart-content form {
    margin:  2%  0%  3%  63%;
}
.cart-content span {
    display: inline-block;
    position: relative;
    margin:  2%  0%  0% 78%;
}

/* enter */
.enter-content {
    display: none;
    position: absolute;
    background-color:#f8f7f4;
    width: 277px;
    height: 214px;

    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.5);;
    z-index: 1;

    margin-top: 13px;
    margin-left: -225px;
}
.enter-content a {
    display: inline-block;
    color: #323232;
    font-size: 13px;
    line-height: 24px;
    text-decoration: underline;
}
.enter-content input {
    background-color: #ffffff;
    
    outline: none;
    font-weight: 400;
    color: #999999;
    font-size: 14px;
    line-height: 26px;

    min-width: 241px;
    min-height: 44px;
    border-radius: 5px 5px 5px 5px;
    padding-left: 10px;
    margin: 0px;
    border: 1px solid;
    border-color: #999999;
}
.enter-content section {
    margin: 20px;
}
.enter-content div {
    display: flex;
}
.enter-content article {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.enter-content .button {
    width: 100px;
    height: 46px;
    margin-left: 18px;
}